//BOOTSTRAP
@import "~bootstrap/scss/bootstrap.scss";

//FONTAWESOME
$fa-font-path: './webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';

//STYLE
@import './vars.scss';

body{
    background-color: $bg-color;
}
::-webkit-scrollbar {
    width: 0.8rem;
}
::-webkit-scrollbar-track {
    background-color: $bg-color;
}
::-webkit-scrollbar-thumb {
    background-color: $black-color;
    border-radius: 100px;
}